modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "test"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm test"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"
packages = ["tree"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://zalpwyhlijbjyspjzbvn.supabase.co"
STRIPE_PRICE_SUBSCRIPTION_ID = "price_1TRt6LHotG1viVv3I9S9UJME"
STRIPE_PRICE_SETUP_FEE_ID = "price_1TRt6LHotG1viVv3Atv4vj5J"
NEXT_PUBLIC_APP_URL = "https://1582eb31-8cfb-41c9-8ede-f7c139b9ebd0-00-1dahva746bc3v.kirk.replit.dev"
